.education-experience {
  width: 80%;
  border: 2px solid rgb(232, 231, 231);
  border-radius: 10px;
  padding: 2px;
  background-color: white;
  margin-top: 20px;
  position: relative;
}

.rotate-svg {
  transform: rotate(180deg);
}

.details-display {
  width: 100%;
  padding: 0px;
  padding-right: 30px;
  padding-left: 30px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.open {
  padding: 5px 30px 35px 30px;
  max-height: fit-content;
}

.details-display .label-wrapper {
  display: flex;
  justify-content: space-between;
}

label[for="school-name"],
.label-wrapper #st-date {
  margin-right: 20px;
}

.details-display .st-date {
  margin-top: 20px;
  max-width: 100%;
}

.details-display .label-wrapper > * {
  flex: 1;
  max-width: 45%;
}

@media (max-width: 800px) {
  .details-display .st-date {
    min-width: 100%;
  }

  .label-wrapper > * {
    max-width: 45%;
  }
}
