label[for="job-title"] {
  margin-right: 20px;
}

label[for="responsibilities"] {
  width: 100%;
  margin-top: 20px;
}

textarea {
  outline: none;
  border: none;
  background-color: var(--input-bg);
  padding: 5px 10px;
  max-width: 100%;
  resize: none;
  transition: border-bottom 0.2s linear;
  border: 2px solid var(--input-bg);    
}

textarea:focus {
  border-bottom: 2px solid rgb(26, 145, 240);
}
