.expand {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: white;
  padding: 7px 15px;
}

.education-experience .delete {
  background-color: white;
  border: none;
  position: absolute;
  right: -8%;
  top: 15px;
  padding: 0;
}

.expand h2 {
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
}

.expand svg,
.delete svg {
  color: rgb(183, 181, 181);
}
.delete:hover > svg {
  color: rgb(239, 70, 70);
}

.expand:hover,
.delete:hover {
  cursor: pointer;
}

.expand > * {
  transition: color 0.2s ease-out;
}

.expand:hover > * {
  color: rgb(26, 145, 240);
}

.add-education {
  border: none;
  background-color: white;
  text-align: left;
  margin-top: 10px;
  width: 80%;
  color: rgb(24, 133, 222);
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.add-education:hover {
  background-color: rgb(233, 244, 253);
}

.education-subheading {
  margin-top: 15px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 0.8rem;
}
