input {
  height: 6vh;
  outline: none;
  border: none;
  background-color: var(--input-bg);
  border-radius: 5px;
  padding: 5px 10px;
}

label {
  display: flex;
  flex-direction: column;
  width: 40%;
}

input:focus {
  border-bottom: 5px solid rgb(26, 145, 240);
}

label p {
  display: flex;
  gap: 0.2vw;
  align-items: center;
}

input:user-invalid {
  border: 2px solid rgb(248, 133, 133);
}


