input {
  height: 3vw;
  outline: none;
  border: none;
  background-color: var(--input-bg);
  padding: 5px 10px;
  border: 2px solid var(--input-bg);
  transition: border-bottom 0.25s linear;
}

label {
  display: flex;
  flex-direction: column;
}

input:focus {
  border-bottom: 2px solid rgb(26, 145, 240);
}

label p {
  display: flex;
  gap: 0.2vw;
  align-items: center;
}

input:user-invalid {
  border: 2px solid rgb(248, 133, 133);
}

@media (max-width: 800px) {
  input {
    height: 6vw;
  }
}
